body {
    width: 100% ;
    height: 1500px;
    margin: 0;
    padding: 0; 
    background-image: url("../img/fondo_principal.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
}


.img {
    border: solid rgb(255, 0, 8) 2px;
    height: 400px;
}

.encabezado {

    text-align: center;
}

#titulo {
    color: 	#E06C75
}

.bloque_1{
    margin-top: 100px;
    border: solid purple 2px;
    text-align: center;
}

#seccion_2 {
    color: 	#98C379;
}


.parrafo_1 {
    border: solid red 2px;
    text-align: center;
 width: 80%;
 margin: 0 auto;

}

#parrafo{
    color: #61AFEF;
}

