body {
    max-width: 1200rem ;
    height: 1500px;
    margin: 0;
    padding: 0; 
    background-image: url("../img/fondo_principal.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
}


.img {
    border: solid rgb(255, 0, 8) 2px;
    height: 400px;
}

.encabezado {

    text-align: center;
}

#titulo {
    color: 	#E06C75
}

.sobre_mi{
    margin-top: 100px;
    border: solid purple 2px;
    text-align: center;
}

#seccion_2 {
    color: 	#98C379;
}


.parrafo_1 {
    border: solid red 2px;
    text-align: center;
 width: 80%;
 margin: 0 auto;

}

#parrafo{
    color: #61AFEF;
}

.bloque_de_experiencia {
    display: flex;
    flex-direction: row;
    margin-top:100px;
    justify-content: center;
    gap: 80px;
    margin-bottom: 50px;

}


h2 {
    font-size: 40px !important;
}
.educacion {
    border: solid orange 2px;
    color:  #E5C07B;
    text-align: center;
    font-size: 20px;
  
}

h3 {
    font-size: 40px!important;
}
.experiencia_laboral {
    border: solid brown 2px;
    color: #C678DD;
    text-align: center;
    font-size: 20px;

}

.bloque_proyectos {
    border: solid white 2px;
}
.portafolio {
    border:  solid pink 2px;
    color: aqua;
    text-align: center;
}